<%# app/views/projects/_form.html.erb %>

<%= simple_form_for project, html: { class: "project form" } do |f| %>
  <% if project.errors.any? %>
    <div class="error-message">
      <%= project.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
