<%# app/views/projects/_project.html.erb %>

<div class="project">
  <%= link_to project.name, project_path(project) %>
  <div class="project__actions">
    <%= button_to "Delete",
                  project_path(project),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_project_path(project),
                class: "btn btn--light" %>
  </div>
</div>
