<%# app/views/projects/edit.html.erb %>

<main class="container">
  <%= link_to sanitize("&larr; Back to Projects"), projects_path %>

  <div class="header">
    <h1>Edit Project</h1>
  </div>

  <%= render "form", project: @project %>
</main>
